# Ignore the auxiliary files produced by LaTeX
*.aux
*.log
*.synctex.gz
*.out

# Ignore the files produced by BiBTeX
*.bbl
*.blg
*.rel

# Ignore final pdf output
*.pdf

# Ignore file added by Mac OS X
.DS_Store
